# EditorConfig helps developers define and maintain
# consistent coding styles between different editors and IDEs.
# https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default settings
[*]
# Unix-style newlines with a newline ending
end_of_line = lf
insert_final_newline = true
# Charset
charset = utf-8
# Hard line wrapping
max_line_length = 100
# Remove whitespace preceding newline characters
trim_trailing_whitespace = true
# Indentation
indent_style = space
indent_size = 4

# Web settings
[*.{html,js,json,jsx,css,scss,ts,tsx,yml}]
indent_size=2

# Markdown settings
[*.md]
trim_trailing_whitespace = false

# IntelliJ IDEA settings
[*]
# https://blog.jetbrains.com/idea/2019/06/managing-code-style-on-a-directory-level-with-editorconfig/
# Visual guides (max comment width, max code width)
# https://google.github.io/styleguide/
# https://www.python.org/dev/peps/pep-0008/#maximum-line-length
# https://lkml.org/lkml/2009/12/17/229
# https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=bdc48fa11e46f867ea4d75fa59ee87a7f48be144
# https://hilton.org.uk/blog/source-code-line-length
# https://www.codereadability.com/maximum-line-length/
ij_visual_guides = 72,80,100
ij_wrap_on_typing = true
ij_any_wrap_long_lines = true
ij_any_wrap_comments = true
