[Desktop Entry]
Type=Application
Name=Clevo Fan Control
Exec="/usr/local/bin/clevo-fan-control" %f
Terminal=false
Comment=Fan control service for Clevo laptops
Categories=Settings;HardwareSettings;
StartupNotify=true
Keywords=clevo;fan;control;